appdirs==1.4.4
autopep8==1.6.0
Beaker==1.11.0
beautifulsoup4==4.11.1
bs4==0.0.1
btrfsutil==5.16.2
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.2
customtkinter==4.1.0
darkdetect==0.6.0
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.1
future==0.18.2
Glances==3.2.4
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
kazam==1.4.5
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.1.1
meld==3.20.4
more-itertools==8.10.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
pickle5==0.0.11
ply==3.11
progress==1.6
psutil==5.9.0
pycairo==1.21.0
pycodestyle==2.8.0
pycparser==2.21
PyGObject==3.42.1
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-distutils-extra==2.39
pyxdg==0.27
Reflector==2021.11.20.2.41.3
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
shtab==1.5.3
six==1.16.0
soupsieve==2.3.2.post1
team==1.0
termcolor==1.1.0
tldr==3.1.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
